*{
  margin: 0;
  padding: 0;
}
.button-orange{
  background-color: #F07013;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* regole di riga */
.centratura{
  padding: 0 10%;
}

.riga::after {
  content: "";
  display: table;
  clear: both;
}


.colonna33{
  width: calc(100% / 3);
  float: left;
  /* debug */
}



.colona45{
  width: 45%;
  float: left;
  /* debug */
}

.colonna50{
  width: 50%;
  float: left;
  /* debug */
}

/* parte header */
header{
  font-family: "Roboto", sans-serif;
}
.menu1{
  background-color: #eff7ff;
  border-bottom: solid;
  border-color: black;
  border-width: 1px;
}

.nav1{
  line-height: 60px;
}
.nav1 ul li{
  display: inline-block;
}
.nav1 a{
  margin-right: 30px;
  color: slategrey;
  font-size: 20px;
  text-decoration: none;
}


.destra{
  float: right;
}
#search{
  color: #2d659d;
}
#logo{
  margin-top: 20px;
}

/* parte jumbo */
.jumbo{
  height: 800px;
  background-image: url("../img/jumbotron.png");
  background-position: right;
  background-repeat: space;
  background-size: 100%;
}

.scritte{
  color: slategrey;
  float: left;
  padding-top: 100px;
}
.scritte h1{
 font-size: 50px;
}
.scritte p{
  line-height: 35px;
  padding-top: 40px;
  font-size: 20px;
}
.jumbo a{
  margin-top: 30px;
}
/* parte main */

main{
 font-family: "Roboto", sans-serif;
 color: slategrey;
}
/* parte1 del main */
.parte1{
  background-color: #f0f9ff;
}

.contenuto1 img{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}
.contenuto1 h2{
  font-size: 50px;
  text-align: center;
}
.contenuto1 p{
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.centro{
  margin-top: 50px;
  background-color: white;
  height: 400px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
}
.illustrazione{
  float: left;
  width: 30%;
}
.illustrazione img{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}
.illustrazione a{
  margin-left: 158px;
  margin-top: 35px;
}

#dx{
  width: 65%;
  float: right;
}
#dx h2{
  padding-top: 70px;
}
#dx p{
  line-height: 35px;
  padding-top: 30px;
}
#dx li{
  display: inline-block;
  margin-right: 40px;
}
#dx ul{
  margin-top: 30px;
}
#dx i{
  color: #F07013;
}

.colonne{
  margin-top: 30px;
}
.colonna30{
  width: 30%;
  float: left;
  background-color: white;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
  margin-bottom: 40px;
  box-sizing: border-box;
}

#centrale{
  margin-left: 5%;
  margin-right: 5%;
}

.colonna30 img{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.colonna30 h2{
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}
.colonna30 p{
  line-height: 35px;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}
.colonna30 hr{
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.colonna30 h3{
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}
.colonna30 ul{
  padding-top: 30px;
  padding-left: 70px;
  font-size: 20px;
}
.colonna30 li{
  display: block;
  text-decoration: none;
}
.colonna30 i{
  color: #F07013;
}
.colonna30 .button{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
/* parte 2 del main */
.parte2{
  color: #f0f9ff;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  height: 800px;
}
.contenuto2 h2{
  padding-top: 50px;
  font-size: 35px;
  text-align: center;
}
#partesopra p{
  text-align: center;
  padding-top: 50px;
  font-size: 25px;
}
.griglia{
  padding-top: 50px;
}
.colonna25{
  border-right: solid;
  border-width: 1px;
  border-color: white;
  float: left;
  width: 25%;
  height: 400px;
  box-sizing: border-box;
}
.griglia .colonna25:last-of-type{
  border: none
}
.sopra{
  height: 50%;
  border-bottom: solid;
  border-width: 1px;
  border-color: white;
}
.colonna25 h2{
  padding-top: 80px;
  font-size: 45px;
}
.colonna25 p{
  text-align: center;
  margin-top: 20px;
}
/* parte 3 del main */

.colonna40{
  float: left;
  width: 40%;
  float: left;
  /* debug */
}

#sx h2{
  font-size: 50px;
  padding-top: 70px;
  text-align: center;
}
#sx p{
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  line-height: 35px;
}
.colonna60{
  float: left;
  width: 60%;
  height: 300px;
}

.immagini img{
  padding-top: 90px;
  margin-right: 30px;
  display: inline-block;
  height: 20px;
}
.contenuto3sotto{
  height: 800px;
}
.colonna60 h2{
  padding-top: 50px;
  font-size: 35px;

}
.colonna60 p{
  line-height: 35px;
  padding-top: 40px;
  font-size: 25px;
}
.colonna60 .button-orange{
  margin-top: 40px;
}
#paragrafofinale{
  font-size: 15px;
  margin-bottom: 50px;
}
.donna{
  width: 80%;
}
.donna img{
  height: 300px;
  float: right;
}
/* parte footer */
footer{
  font-family: "Roboto", sans-serif;
  height: 800px;
  background-color: #33475b;
}
.colonnafooter{
  float: left;
  width: 25%;
}
.colonnafooter h2{
  color: #f0f9ff;
  font-size: 20px;
  padding-top: 40px;
}
.colonnafooter ul{
  padding-top: 25px;
  list-style-type: none;
}
.colonnafooter li{
  color: #f0f9ff;
  line-height: 35px;
}
#button{
  background-color: #f0f9ff;
  border: none;
  border-radius: 10px;
  color: #33475b;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#fontawesome{
  padding-top: 10px;
}

#fontawesome li{
  margin-right: 20px;
  display: inline-block;
}

#lingue{
  color: #f0f9ff;
  text-align: center;
}
#lingue li{
  display: inline-block;
  margin-right: 20px;
}
#linea{
  color: #f0f9ff;
  margin-top: 20px;
}
